@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  outline: transparent;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/DancingScript-Bold.woff"), url("../fonts/DancingScript-Bold.woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff"), url("../fonts/OpenSans-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff"), url("../fonts/OpenSans-SemiBold.woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Mukta";
  src: url("../fonts/Mukta-Regular.woff"), url("../fonts/Mukta-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Mukta";
  src: url("../fonts/Mukta-Bold.woff"), url("../fonts/Mukta-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-SemiBold.woff"), url("../fonts/Dosis-SemiBold.woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-ExtraBold.woff"), url("../fonts/Dosis-ExtraBold.woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
body {
  background-color: #F3F3F3;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.045em;
  color: #335E74;
  font-family: "Mukta", sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 46px;
  line-height: 1.3;
  color: #264A51;
}
@media (max-width: 769px) {
  .title {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 28px;
  }
}

.link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.3;
  color: #264A51;
  border: 1.5px solid #43717D;
  border-radius: 3px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.link:hover {
  color: #43717D;
}

.hover-link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.hover-link:hover {
  color: #102024;
}

._hidden {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.disable-scroll {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px 0;
  padding-left: 95px;
}
@media (max-width: 1300px) {
  .header__inner {
    padding-left: 40px;
  }
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
@media (max-width: 769px) {
  .header__item {
    gap: 15px;
  }
}
.header__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #3E5860;
}
@media (max-width: 769px) {
  .header__link {
    font-size: 0;
  }
}
.header__link-icon {
  height: 16px;
  margin-right: 10px;
}
.header__link-icon path {
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.header__link:hover .header__link-icon path {
  fill: #3E5860;
}

.cart-qnt {
  padding-left: 4px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.4;
  color: #DD6060;
}

.product-card {
  max-width: 350px;
  text-align: center;
}
.product-card__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  padding: 50px 20px 20px;
  background-color: #F1F6F9;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  position: relative;
}
@media (max-width: 576px) {
  .product-card__box {
    padding: 20px 10px 10px;
  }
}
.product-card__img {
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 33px;
}
@media (max-width: 576px) {
  .product-card__img {
    height: 120px;
  }
}
.product-card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
@media (max-width: 576px) {
  .product-card__buttons {
    gap: 6px;
  }
}
.product-card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  padding: 9px;
  background-color: #71B3C6;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.product-card__btn:hover .product-card__btn-icon path {
  fill: #FFFFFF;
}
.product-card__btn:active {
  background-color: #264A51;
}
@media (max-width: 576px) {
  .product-card__btn {
    width: 32px;
    height: 32px;
  }
}
.product-card__btn-icon {
  -o-object-fit: contain;
     object-fit: contain;
}
.product-card__btn-icon path {
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.product-card__title-link {
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration-color 0.3s;
  -o-transition: text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s;
}
.product-card__title-link:hover {
  text-decoration-color: inherit;
}
.product-card__title {
  font-size: 16px;
  line-height: 1.3;
  color: #264A51;
}

.badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 14px;
  padding: 30px 18px;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 576px) {
  .badges {
    row-gap: 6px;
    padding: 6px 6px;
  }
}

.badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #264A51;
}
.badge--new {
  background-color: #71B3C6;
  color: #D4DCE2;
}
.badge--stoke {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: -18px;
  margin-top: 14px;
  padding: 7px;
  border-radius: 2px 0px 0px 2px;
}
@media (max-width: 576px) {
  .badge--stoke {
    margin-right: -6px;
  }
}

.simple-rating {
  position: relative;
  font-size: 13px;
  line-height: 1;
  display: inline-block;
  color: transparent;
}
.simple-rating::before {
  content: "★★★★★";
  display: block;
  letter-spacing: 4px;
}
.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}
.simple-rating__item {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}
.simple-rating__item:checked, .simple-rating__item:checked ~ .simple-rating__label {
  color: #F3B705;
}
.simple-rating__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
}
.simple-rating__label::before {
  content: "★";
  display: block;
  letter-spacing: 4px;
  -webkit-text-stroke: 1px #F3B705;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.simple-rating__label:hover, .simple-rating__label:hover ~ .simple-rating__label, .simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #f7db8a;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 4px;
}
.rating__item {
  color: transparent;
  cursor: pointer;
  font-size: 13px;
  line-height: 1;
  -webkit-text-stroke: 1px #F3B705;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.rating__item:hover, .rating__item:hover ~ .rating__item {
  color: #f7db8a;
}

.rating[data-total-value="1"] .rating__item:nth-child(n+5),
.rating[data-total-value="2"] .rating__item:nth-child(n+4),
.rating[data-total-value="3"] .rating__item:nth-child(n+3),
.rating[data-total-value="4"] .rating__item:nth-child(n+2),
.rating[data-total-value="5"] .rating__item:nth-child(n+1) {
  color: #F3B705;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 460px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  z-index: 100;
  background-color: #F1F6F9;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.cart--open {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.cart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
}
.cart__close-btn {
  position: relative;
  width: 26px;
  height: 26px;
}
.cart__close-btn-icon {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  background-color: #706f6f;
}
.cart__close-btn-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #706f6f;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.cart__title {
  font-size: 28px;
}
.cart__list {
  overflow: auto;
  padding: 20px;
}
.cart__bottom-box {
  margin-top: auto;
}
.cart__total-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #ffffff;
  font-size: 24px;
}
.cart__checkout {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  color: #ffffff;
  background-color: #71B3C6;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cart__checkout:hover {
  background-color: #0692b9;
}
.cart__checkout:active {
  background-color: #264A51;
}

.cart-product {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100px;
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #C1C1C1;
  border-radius: 3px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.cart-product:not(:last-child) {
  margin-bottom: 20px;
}
.cart-product__remove-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
}
.cart-product__remove-btn-icon {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  background-color: #C1C1C1;
}
.cart-product__remove-btn-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #C1C1C1;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.cart-product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.cart-product__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 12px;
}
.cart-product__img {
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart-product__title-link {
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration-color 0.3s;
  -o-transition: text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s;
}
.cart-product__title-link:hover {
  text-decoration-color: inherit;
}
.cart-product__title {
  font-size: 16px;
  line-height: 1.3;
  color: #264A51;
}
.cart-product__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.cart-product__counter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart-product__counter-value {
  width: 40px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  background-color: #D2E2EE;
}
.cart-product__counter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #71B3C6;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.cart-product__counter-btn--minus {
  background-image: url("../images/icon/minus-icon.svg");
}
.cart-product__counter-btn--plus {
  background-image: url("../images/icon/plus-icon.svg");
}
.cart-product__counter-btn:hover {
  background-color: #0692b9;
}
.cart-product__counter-btn:active {
  background-color: #264A51;
}
.cart-product__total-price {
  font-weight: 700;
}

.nav {
  position: fixed;
  height: 100vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 165px;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #002A32;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  -o-transition: transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.nav__list {
  height: 100%;
  overflow: auto;
  position: relative;
}
.nav__item:first-child {
  margin-bottom: 70px;
}
.nav__logo {
  display: block;
  padding: 20px 35px;
}
.nav__link {
  display: block;
  padding: 20px 35px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #8999A1;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.nav__link:hover {
  color: #B6DCFF;
  background-color: #3C6C7F;
}
.nav__link:hover .nav__link-icon path {
  fill: #B6DCFF;
}
.nav__link--active {
  background-color: #3C6C7F;
  color: #B6DCFF;
}
.nav__link--active .nav__link-icon path {
  fill: #B6DCFF;
}
.nav__link-icon {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 30px;
  margin: 0 auto;
}
.nav__link-icon path {
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}

.nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0;
  height: 46px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #002A32;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0.3s;
  -o-transition: opacity 0.3s, width 0.3s;
  transition: opacity 0.3s, width 0.3s;
}
.nav-btn__icon {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.nav-btn--show {
  width: 46px;
  opacity: 0.6;
}
.nav-btn--active .nav-btn__icon {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.nav-btn:hover, .nav-btn:active {
  opacity: 1;
}

.main-screen {
  background-color: #B2C3DE;
  overflow: hidden;
}
.main-screen__item {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-screen__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding-left: 95px;
}
@media (max-width: 1300px) {
  .main-screen__item-wrapper {
    padding-left: 40px;
  }
}
.main-screen__item-title {
  max-width: 394px;
  margin-bottom: 18px;
  font-size: 50px;
}
@media (max-width: 577px) {
  .main-screen__item-title {
    font-size: 32px;
  }
}
.main-screen__item-subtitle {
  display: block;
  margin-bottom: 8px;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}
.main-screen__item-link {
  margin: 0;
}
.main-screen .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-screen .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main-screen .slick-dots li {
  font-size: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #677F8B;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.main-screen .slick-dots .slick-active {
  background-color: #677F8B;
}

.partners {
  background-color: #D2E2EE;
}
.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 15px 0;
}
@media (max-width: 769px) {
  .partners__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 769px) {
  .partners__item {
    max-width: 50px;
  }
}

.products {
  padding: 90px 0;
}
@media (max-width: 769px) {
  .products {
    padding: 40px 0;
  }
}
.products__title {
  margin-bottom: 27px;
  text-align: center;
}
.products__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 28px;
}
@media (max-width: 769px) {
  .products__filter {
    gap: 10px;
  }
}
.products__filter-btn {
  padding: 6px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 1.3;
  color: #264A51;
  border-radius: 2px;
  border: 2px solid transparent;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.products__filter-btn:hover {
  border-color: #3E5860;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 769px) {
  .products__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.mixitup-control-active {
  border-color: #3E5860;
}

.sale {
  padding: 175px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B2C3DE;
}
@media (max-width: 992px) {
  .sale {
    padding: 70px 0;
  }
}
.sale__content {
  max-width: 578px;
  text-align: center;
}
.sale__title {
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  font-size: 90px;
  color: #F3B705;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .sale__title {
    font-size: 65px;
  }
}
.sale__subtitle {
  margin-bottom: 15px;
  font-size: 60px;
}
@media (max-width: 768px) {
  .sale__subtitle {
    font-size: 52px;
  }
}
.sale__description {
  max-width: 390px;
  margin: 0 auto 32px;
  margin-bottom: 32px;
}

.gallery {
  padding: 116px 0;
}
@media (max-width: 992px) {
  .gallery {
    padding: 50px 0;
  }
}
.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .gallery__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.gallery__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 992px) {
  .gallery__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.gallery__item:nth-child(even) .gallery__item-content {
  padding: 0 80px 0 0;
}
@media (max-width: 992px) {
  .gallery__item:nth-child(even) .gallery__item-content {
    padding: 50px 20px 20px;
  }
}
.gallery__item:nth-child(even) .gallery__item-badge {
  left: auto;
  right: 0;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
@media (max-width: 992px) {
  .gallery__item:nth-child(even) .gallery__item-badge {
    bottom: auto;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}
.gallery__item:not(:last-child) {
  margin-bottom: 116px;
}
@media (max-width: 992px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 50px;
  }
}
.gallery__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 0 0 80px;
  position: relative;
}
@media (max-width: 992px) {
  .gallery__item-content {
    padding: 50px 20px 20px;
  }
}
.gallery__item-title {
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  .gallery__item-title {
    font-size: 26px;
  }
}
.gallery__item-text {
  margin-bottom: 30px;
}
.gallery__item-badge {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 130px;
  padding: 60px 10px;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.4;
  color: #FFFFFF;
  background: rgba(113, 179, 198, 0.85);
  border-radius: 3px;
  bottom: 10%;
  left: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 992px) {
  .gallery__item-badge {
    bottom: auto;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    padding: 8px;
  }
}

.get-sale {
  padding: 180px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B2C3DE;
  text-align: center;
}
@media (max-width: 992px) {
  .get-sale {
    padding: 70px 0;
  }
}
.get-sale__title {
  margin-bottom: 15px;
}
.get-sale__description {
  max-width: 390px;
  margin: 0 auto 25px;
  color: #FFFFFF;
}
.get-sale__form {
  display: block;
  max-width: 460px;
  margin: 0 auto;
  position: relative;
}
.get-sale__form-iput {
  display: block;
  width: 100%;
  padding: 10px 136px 10px 27px;
  background-color: #DAE6EE;
  -webkit-box-shadow: 0px 15px 30px rgba(34, 34, 34, 0.11);
          box-shadow: 0px 15px 30px rgba(34, 34, 34, 0.11);
  border-radius: 50px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.get-sale__form-iput::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(69, 94, 101, 0.47);
}
.get-sale__form-iput::-moz-placeholder {
  font-size: 14px;
  color: rgba(69, 94, 101, 0.47);
}
.get-sale__form-iput:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(69, 94, 101, 0.47);
}
.get-sale__form-iput::-ms-input-placeholder {
  font-size: 14px;
  color: rgba(69, 94, 101, 0.47);
}
.get-sale__form-iput::placeholder {
  font-size: 14px;
  color: rgba(69, 94, 101, 0.47);
}
.get-sale__form-iput:focus-visible {
  outline: transparent;
  -webkit-box-shadow: rgb(38, 73, 80) 0px 0px 20px 2px;
          box-shadow: rgb(38, 73, 80) 0px 0px 20px 2px;
}
.get-sale__form-btn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 29px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 17px;
  color: #FFFFFF;
  background-color: hsla(190, 36%, 23%, 0.89);
  -webkit-box-shadow: -2px 15px 40px rgba(0, 0, 0, 0.11);
          box-shadow: -2px 15px 40px rgba(0, 0, 0, 0.11);
  border-radius: 50px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.get-sale__form-btn:hover {
  background-color: #264950;
}
.get-sale__form-btn:active {
  background-color: #71B3C6;
}

.footer {
  overflow: hidden;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  padding: 116px 0 85px;
}
@media (max-width: 992px) {
  .footer__main {
    padding: 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__leftside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
}
@media (max-width: 992px) {
  .footer__leftside {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 18px;
}
.footer__lefside-text {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.footer__righside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}
@media (max-width: 992px) {
  .footer__righside {
    gap: 30px;
  }
}
.footer__item {
  max-width: 240px;
}
.footer__item-title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.9;
  color: #264A51;
}
.footer__nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 2;
}

.contacts {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 2;
}

.service-hours {
  padding: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #A0C7EA;
  border-radius: 7px;
}
.service-hours__item:not(:last-child) {
  margin-bottom: 13px;
}
.service-hours__item-value {
  font-weight: 400;
  color: #FFFFFF;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 3;
  text-align: center;
  background-color: #D3E2EF;
  position: relative;
}
.copyright::before {
  content: "";
  height: 100%;
  width: 500%;
  position: absolute;
  top: 0;
  left: -200%;
  background-color: inherit;
  z-index: -1;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.social__link {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #F6FDFF;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.social__link:hover {
  border: 19px solid #3A5B62;
}
.social__link:hover .social__link-icon path {
  fill: #ffffff;
}
.social__link-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.social__link-icon path {
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}