html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  outline: transparent;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

body {
  background-color: #F3F3F3;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.045em;
  color: #335E74;
  font-family: "Mukta", sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px 0;
  padding-left: 95px;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.header__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.04em;
  color: #3E5860;
  position: relative;
}
.header__link-icon {
  position: absolute;
  height: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__link--login, .header__link--singin {
  padding-right: 32px;
}
.header__link--login .header__link-icon, .header__link--singin .header__link-icon {
  right: 0;
}
.header__link--mail, .header__link--share, .header__link--cart {
  padding-left: 32px;
}
.header__link--mail .header__link-icon, .header__link--share .header__link-icon, .header__link--cart .header__link-icon {
  left: 0;
}

.nav {
  display: none;
}

.main-screen {
  background-color: #B2C3DE;
  overflow: hidden;
}
.main-screen__item {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-screen__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding-left: 95px;
}
.main-screen__item-title {
  max-width: 394px;
  margin-bottom: 18px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.3;
  color: #264A51;
}
.main-screen__item-subtitle {
  display: block;
  margin-bottom: 8px;
  font-family: "Dancing Script";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}
.main-screen__item-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.3;
  color: #264A51;
  border: 1.5px solid #43717D;
  border-radius: 3px;
}
.main-screen .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-screen .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main-screen .slick-dots li {
  font-size: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #677F8B;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.main-screen .slick-dots .slick-active {
  background-color: #677F8B;
}

.partners {
  background-color: #D2E2EE;
}
.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
}

.products {
  padding: 90px 0;
}
.products__title {
  margin-bottom: 27px;
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 46px;
  line-height: 1.3;
  color: #264A51;
}
.products__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-bottom: 28px;
}
.products__filter-btn {
  padding: 6px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 1.3;
  color: #264A51;
  border-radius: 2px;
  border: 2px solid transparent;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.products__filter-btn:hover {
  border-color: #3E5860;
}

.sale {
  padding: 175px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B2C3DE;
}
.sale__content {
  max-width: 578px;
  text-align: center;
}
.sale__title {
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  font-size: 90px;
  color: #F3B705;
  opacity: 0.5;
}
.sale__subtitle {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.3;
  opacity: 1;
  color: #264A51;
}
.sale__description {
  max-width: 390px;
  margin: 0 auto 32px;
  margin-bottom: 32px;
}
.sale__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.3;
  color: #264A51;
  border: 1.5px solid #43717D;
  border-radius: 3px;
}

.gallery {
  padding: 116px 0;
}
.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.gallery__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.gallery__item:not(:last-child) {
  margin-bottom: 116px;
}
.gallery__item-content {
  text-align: center;
}
.gallery__item-title {
  margin-bottom: 16px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 39px;
  line-height: 1.3;
  color: #264A51;
}
.gallery__item-text {
  margin-bottom: 30px;
}
.gallery__item-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.3;
  color: #264A51;
  border: 1.5px solid #43717D;
  border-radius: 3px;
}

.get-sale {
  padding: 180px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B2C3DE;
  text-align: center;
}
.get-sale__title {
  margin-bottom: 15px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 46px;
  line-height: 1.3;
  color: #264A51;
}
.get-sale__description {
  max-width: 390px;
  margin: 0 auto 25px;
  color: #FFFFFF;
}
.get-sale__form {
  display: block;
  max-width: 460px;
  margin: 0 auto;
  position: relative;
}
.get-sale__form-iput {
  display: block;
  width: 100%;
  padding: 10px 136px 10px 27px;
  background-color: #DAE6EE;
  -webkit-box-shadow: 0px 15px 30px rgba(34, 34, 34, 0.11);
          box-shadow: 0px 15px 30px rgba(34, 34, 34, 0.11);
  border-radius: 50px;
}
.get-sale__form-iput::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(69, 94, 101, 0.47);
}
.get-sale__form-iput::-moz-placeholder {
  font-size: 14px;
  color: rgba(69, 94, 101, 0.47);
}
.get-sale__form-iput:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(69, 94, 101, 0.47);
}
.get-sale__form-iput::-ms-input-placeholder {
  font-size: 14px;
  color: rgba(69, 94, 101, 0.47);
}
.get-sale__form-iput::placeholder {
  font-size: 14px;
  color: rgba(69, 94, 101, 0.47);
}
.get-sale__form-btn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 29px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
  font-size: 17px;
  color: #FFFFFF;
  background-color: hsla(190deg, 36%, 23%, 0.89);
  -webkit-box-shadow: -2px 15px 40px rgba(0, 0, 0, 0.11);
          box-shadow: -2px 15px 40px rgba(0, 0, 0, 0.11);
  border-radius: 50px;
}

.footer {
  overflow: hidden;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  padding: 116px 0 85px;
}
.footer__leftside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
}
.footer__logo {
  display: block;
  margin-bottom: 18px;
}
.footer__lefside-text {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.footer__righside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
.footer__item {
  max-width: 240px;
}
.footer__item-title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.9;
  color: #264A51;
}
.footer__nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 2;
}

.contacts {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 2;
}

.work-time {
  padding: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #A0C7EA;
  border-radius: 7px;
}
.work-time__item:not(:last-child) {
  margin-bottom: 13px;
}
.work-time__item-value {
  font-weight: 400;
  color: #FFFFFF;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 3;
  text-align: center;
  background-color: #D3E2EF;
  position: relative;
}
.copyright::before {
  content: "";
  height: 100%;
  width: 500%;
  position: absolute;
  top: 0;
  left: -200%;
  background-color: inherit;
  z-index: -1;
}