.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 460px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  z-index: 100;
  background-color: #F1F6F9;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 15%);
  border-radius: 3px;
  transform: rotateY(90deg);
  transition: transform 0.3s ease-in;

  &--open {
    transform: rotateY(0);
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
  }

  &__close-btn {
    position: relative;
    width: 26px;
    height: 26px;
  }

  &__close-btn-icon {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: #706f6f;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #706f6f;
      transform: rotate(-90deg);

    }
  }

  &__title {
    font-size: 28px;
  }

  &__list {
    overflow: auto;
    padding: 20px;

  }

  &__bottom-box {
    margin-top: auto;
  }

  &__total-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    font-size: 24px;
  }

  &__checkout {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #71B3C6;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0692b9;
    }

    &:active {
      background-color: #264A51;
    }
  }

}

.cart-product {
  height: fit-content;
  min-height: 100px;
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #C1C1C1;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__remove-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
  }

  &__remove-btn-icon {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: #C1C1C1;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #C1C1C1;
      transform: rotate(-90deg);

    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }

  &__img {
    height: 80px;
    object-fit: contain;
  }

  &__title-link {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s;

    &:hover {
      text-decoration-color: inherit;

    }
  }

  &__title {
    font-size: 16px;
    line-height: 1.3;
    color: #264A51;
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__counter-box {
    display: flex;
  }

  &__counter-value {
    width: 40px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    background-color: #D2E2EE;
  }

  &__counter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: #71B3C6;
    transition: background-color 0.3s, color 0.3s;

    &--minus {
      background-image: url('../images/icon/minus-icon.svg');
    }

    &--plus {
      background-image: url('../images/icon/plus-icon.svg');
    }

    &:hover {
      background-color: #0692b9;
    }

    &:active {
      background-color: #264A51;
    }

  }

  &__total-price {
    font-weight: 700;
  }

}

.product-hide {
  min-height: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}