body {
  background-color: #F3F3F3;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.045em;
  color: #335E74;
  font-family: 'Mukta', sans-serif;
  // font-family: 'Dancing Script', cursive;
  // font-family: 'Dosis', sans-serif;
  // font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 46px;
  line-height: 1.3;
  color: #264A51;
}

.link {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.3;
  color: #264A51;
  border: 1.5px solid #43717D;
  border-radius: 3px;
  transition: color 0.3s;

  &:hover {
    color: #43717D;
  }
}

.hover-link {
  transition: color 0.3s;

  &:hover {
    color: #102024;
  }

}