.header {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
    padding-left: 95px;
  }

  &__item {
    display: flex;
    gap: 35px;
  }

  &__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #3E5860;
  }

  &__link-icon {
    height: 16px;
    margin-right: 10px;

    path {
      transition: fill 0.3s;
    }
  }

  &__link:hover &__link-icon path {
    fill: #3E5860;
  }


}

.cart-qnt {
  padding-left: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.4;
  color: #DD6060;
}