@import 'reset';
@import 'global';
@import 'header';
@import 'product-card';
@import 'rating';

.nav {
  display: none;
}

.main-screen {
  background-color: #B2C3DE;
  overflow: hidden;

  &__item {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-left: 95px;
  }

  &__item-title {
    max-width: 394px;
    margin-bottom: 18px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.3;
    color: #264A51;
  }

  &__item-subtitle {
    display: block;
    margin-bottom: 8px;
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
  }

  &__item-link {
    width: fit-content;
    padding: 8px 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.3;
    color: #264A51;
    border: 1.5px solid #43717D;
    border-radius: 3px;
  }

  .slick-track {
    display: flex;
  }

  .slick-dots {
    display: flex;
    gap: 30px;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);

    li {
      font-size: 0;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #677F8B;
      transition: background-color 0.3s;
    }

    .slick-active {
      background-color: #677F8B;
    }
  }

}

.partners {

  background-color: #D2E2EE;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px 0;
  }
}

.products {
  padding: 90px 0;

  &__title {
    margin-bottom: 27px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 46px;
    line-height: 1.3;
    color: #264A51;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 28px;
  }

  &__filter-btn {
    padding: 6px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.3;
    color: #264A51;
    border-radius: 2px;
    border: 2px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      border-color: #3E5860;

    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.sale {
  padding: 175px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B2C3DE;

  &__content {
    max-width: 578px;
    text-align: center;
  }

  &__title {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 90px;
    color: #F3B705;
    opacity: 0.5;
  }

  &__subtitle {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 60px;
    line-height: 1.3;
    opacity: 1;
    color: #264A51;
  }

  &__description {
    max-width: 390px;
    margin: 0 auto 32px;
    margin-bottom: 32px;
  }

  &__link {
    width: fit-content;
    padding: 8px 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.3;
    color: #264A51;
    border: 1.5px solid #43717D;
    border-radius: 3px;
  }
}

.gallery {
  padding: 116px 0;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    &:not(:last-child) {
      margin-bottom: 116px;
    }
  }

  // &__item-img-box {
  //   flex: none;
  //   max-width: 56%;

  // }

  &__item-content {
    text-align: center;
  }

  &__item-title {
    margin-bottom: 16px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 39px;
    line-height: 1.3;
    color: #264A51;
  }


  &__item-text {
    margin-bottom: 30px;
  }

  &__item-link {
    width: fit-content;
    padding: 8px 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.3;
    color: #264A51;
    border: 1.5px solid #43717D;
    border-radius: 3px;
  }

}

.get-sale {
  padding: 180px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B2C3DE;
  text-align: center;


  &__title {
    margin-bottom: 15px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 46px;
    line-height: 1.3;
    color: #264A51;
  }

  &__description {
    max-width: 390px;
    margin: 0 auto 25px;
    color: #FFFFFF;
  }

  &__form {
    display: block;
    max-width: 460px;
    margin: 0 auto;
    position: relative;
  }

  &__form-iput {
    display: block;
    width: 100%;
    padding: 10px 136px 10px 27px;
    background-color: #DAE6EE;
    box-shadow: 0px 15px 30px rgba(34, 34, 34, 0.11);
    border-radius: 50px;

    &::placeholder {
      font-size: 14px;
      color: rgba(69, 94, 101, 0.47);
    }
  }

  &__form-btn {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 29px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    background-color: hsla(190, 36%, 23%, 0.89);
    box-shadow: -2px 15px 40px rgba(0, 0, 0, 0.11);
    border-radius: 50px;
  }
}

.footer {
  overflow: hidden;

  &__main {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 116px 0 85px;

  }

  &__leftside {
    flex: 0 0 270px;
  }

  &__logo {
    display: block;
    margin-bottom: 18px;
  }

  &__lefside-text {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  &__righside {
    display: flex;
    gap: 60px;
  }

  &__item {
    max-width: 240px;
  }

  &__item-title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.9;
    color: #264A51;
  }

  &__nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 2;
  }

}

.contacts {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 2;
}

.work-time {
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #A0C7EA;
  border-radius: 7px;


  &__item:not(:last-child) {
    margin-bottom: 13px;
  }

  &__item-value {
    font-weight: 400;
    color: #FFFFFF;
  }
}

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 3;
  text-align: center;
  background-color: #D3E2EF;
  position: relative;

  &::before {
    content: '';
    height: 100%;
    width: 500%;
    position: absolute;
    top: 0;
    left: -200%;
    background-color: inherit;
    z-index: -1;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 12px;

  &__link {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #F6FDFF;
    transition: all 0.3s;
    position: relative;

    &:hover {
      border: 19px solid #3A5B62;
    }

    &:hover .social__link-icon path {
      fill: #ffffff;
    }
  }

  &__link-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 20px;
    object-fit: contain;

    path {
      transition: fill 0.3s;
    }
  }
}